<div class='container'>
<table border='0' cellpadding='0' cellspacing='0' width='100%' stype='padding:2px' bgcolor='#ff6600'>
  <tbody>
    <tr>
      <td style="line-height:15pt; height:10px;">
        <span class='pagetop'>
          <a href='/'><b>Hacker News</b></a>
        </span>
      </td>
      <td stype='text-align:right;padding-right:4px;'>
        <% if session[:username] %>
          <%= session[:username] %>:
          <a href='/logout'>logout</a>
        <% else %>
          <a href='/login'>login</a>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <h3>Submit</h3>
  <form name='submit' action='/post' method='post'>
    title: <input type='text' name='post[title]'><br><br>
    url:   <input type='text' name='post[url]'><br><br>
    <input type='submit' value='submit'>
  </form>
</div>
</div>